name: Docker Image CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:

  build:

    runs-on: ubuntu-latest
    env:
      AWS_REGION: ap-southeast-2
      ECR_REPOSITORY: school-repository

    defaults:
      run:
        shell: bash
        working-directory: backend/src

    steps:
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: docker build . --file ./School.Api/Dockerfile --tag my-image-name:$(date +%s)
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ env.AWS_REGION }}
    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
